/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional base tweaks */
:root { color-scheme: light; }
html, body, #root { height: 100%; }
body { @apply bg-white text-slate-900 antialiased; }
